
body {
  font-size: 12pt;
  color:#777;
}


.container {
	width: 630px;
}

h1,h2,h3,h4 {
   font-family: "neuropol-x-light-1","neuropol-x-light-2";
	color: #555;
}

/* 
h2 {
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;
}
*/


h3 {
  font-variant: small-caps;
}

h3.problem_space {
  font-variant: small-caps;
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;
}

h3.technology {
  
}

div.technology {
/*  color: #aaa; */
}

p {
	padding-left: 2em;
}



/*
span.who-benefited {
  color: #a00;
}


span.why-important {
  color: #0a0;
}

span.what-results {
  color: #00a;
}
*/


