
body {
  font-size: 12pt;
}


.container {
	width: 630px;
}

h1,h2,h3 {
   font-family: "neuropol-x-light-1","neuropol-x-light-2";
	color: #aaa;
}

h2 {
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;
}

h3 {
  font-variant: small-caps;
}

h3.technology {
  
}

div.technology {
  color: #000;
}

p {
	padding-left: 2em;
}




span.who-benefited {
  color: #000;
}


span.why-important {
  color: #000;
}

span.what-results {
  color: #000;
}

