
                <footer>
                    <div style="text-align: center; margin: 10px; font-size: smaller">
                        <p>
                            Copyright &copy; 1994-2010 David M. Doolin All Rights Reserved.
                        </p>
                    </div>
                </footer>
