
                <footer>
                    <div style="text-align: center; margin: 10px; font-size: smaller">
                        <p>
                            Copyright &copy; 1994-2013 David M. Doolin All Rights Reserved. <a rel="author" href="https://plus.google.com/109975361919530850213/">
  <img src="http://www.google.com/images/icons/ui/gprofile_button-16.png" width="16" height="16">
                        </p>
                    </div>
                </footer>
