
                <section id="fracture-flow">
                    <h2 class="msg_head">Fracture flow modeling</h2>

                        <p class="abstract">
                            <strong>Summary:</strong>
                            <span class="who-benefited">Groundwater contamination on the Oak Ridge
                              Reservation occurs in fractured rock masses, and is difficult to 
                              accurately characterize for remediation.</span>
                            <span class="why-important">The probabilistic model developed in this study 
                              exploits the nature of regularly fractured rocks to allow 
                              predictive modeling of groundwater flow.</span>
                            <span class="what-results">The model was successfully verified
                              numerically. Comparison with field results was good.</span>
                        </p>
                        <h3 class="problem_space" title="Click for more...">Problem space</h3>
                    <div class="fulldescription">
                        <ul>
                            <li>
                                Fracture flow:

                                <p>
                                    "Solid rock" is a misnomer. It doesn't exist.
                                </p>
                                <p>
                                    Nearly all rock is fractured at some scale, and these
                                    fractures allow fluids such as water and oil to move
                                    through rock masses.
                                </p>
                                <p>
                                    Because it's easier to see quasars at the edge of the
                                    universe than it is to see 1 meter beneath our feet,
                                    understanding how water moves through fractured rock
                                    requires building and validating mathematical models.
                                </p>
                                <p>
                                    Such models help understand where groundwater is going,
                                    when it's going to get there, and what it might be carrying
                                    with it in terms of contaminants.
                                </p>
                            </li>
                        </ul>
                        <h3 class="technology">Technology</h3>
                        <div class="technology">
                        <h3 class="toolchain">Toolchain</h3>
                            <p class="buzzwords">
                                C, Matlab, Gnuplot, SunOs4,5, GCC, Meschach.
                            </p>
                        </div>
                    </div>
                </section>
