

<section id="CHANGEME">

  <h2 class="msg_head">FIXME</h2>

     <p class="abstract">
        <strong>Summary:</strong>
           <span class="who-benefited">Who</span>
           <span class="why-important">Why</span>
           <span class="what-results">What</span>
    </p>


  <h3 class="problem_space" title="Click for more...">Problem space</h3>

    <div class="fulldescription">
       <h3 class="technology">Technology</h3>
                        
          <div class="technology">
                        	
             <h3 class="toolchain">Toolchain</h3>
             
               <p class="buzzwords">
               </p>
               
         </div>
    </div>

</section>
