                
                <section id="hrecipe">
                    <h2 class="msg_head">hRecipe - Semantic recipes for WordPress</h2>

                       <p class="abstract">
                            <strong>Summary:</strong>
                            <span class="who-benefited">hRecipe provides WordPress
                              site owners the ability to both format recipes and 
                              increase search relevance using semantic hrecipe markup.</span>
                            <span class="why-important">Semantic metadata is a key 
                              aspect of information discovery on the web.</span>
                            <span class="what-results">Over 6200 downloads (12/27/2010) of the plugin,
                              over a dozen languages and over 1000 trackbacks from published
                              recipes.</span>
                        </p>
                        
                      <h3 class="problem_space" title="Click for more..."><%= problem_title %></h3>
                        
                    <div class="fulldescription">
                        <p>
                          Finding and getting found on the web seems to get no easier even 
                          as technology advances. Semantic markup is one way to help search engines
                          understand the relevance of words and data on a web page, and hrecipe
                          is one of many semantic markup proposals, called <em>microformats</em>,
                          which are approaching standardized definitions.
                        </p>
                        <p>
                          From a blogger's perspective, the main difficulty with microformats
                          is adding the required markup to the elements of recipe. 
                        </p>
                        <p>
                          The Hrecipe plugin for WordPress solves the user interface problem
                          by presenting a set of form fields to the user, who enters the recipe
                          directly into the form fields.  The fields are processed by the plugin, 
                          then the correct markup for hrecipe placed on the WordPress post or page.
                        </p>

                        <h3 class="technology">Technology</h3>
                        <div class="technology">
                        <p>
                          WordPress plugin development leverages standard, off-the-shelf 
                          development technology for LAMP-driven web applications. For hRecipe, 
                          development proceeds on a localhost WordPress installation, with 
                          releases to the WordPress plugin repository as appropriate.
                        </p>
                        <p>
                          Translations have been provided from members of the hRecipe community.
                          The current user interface was written by an hRecipe user and donated to 
                          the project. Other users have contributed to bug reports through the hrecipe 
                          web page.
                        </p>
                        <p>
                          Trackbacks to the recipe home page were eventually disabled. 
                          Somewhere around the 1000 comment mark, WordPress
                          refused to serve that web page. 
                        </p>
                        
                        <h3 class="toolchain">Toolchain</h3>
                        <p class="buzzwords">
                        	PHP, MySQL, WordPress.
                        	</p>

                        <h4>Source code</h4>
                        
                        <p>
                          Get the <a href="http://svn.wp-plugins.org/hrecipe">source code for hrecipe</a>
                        at the WordPress plugin repository.
                        </p>
                        <p>
                          Visit the <a target="_blank" href="http://website-in-a-weekend.net/hrecipe/">hRecipe web page</a> 
                          for more information.
                        </p>
                        </div>
                                               
                    </div>
                </section>
