                <section id="mine-monitoring">
                    <h2 class="msg_head">Mine monitoring wireless sensor network</h2>

                        <p class="abstract">
                            <strong>Summary:</strong>
                            <span class="who-benefited">Sensors can help miners evaluate and monitor
                                working conditions underground, leading to a safer mine.</span>
                            <span class="why-important">Since wireless sensors are line-of-site
                                constrained, establishing a baseline, proof-of-concept implementation
                                is necessary before committing to industrial production.</span>
                            <span class="what-results">We found that wireless sensors work quite
                                well for monitoring temperature, barometric pressure and humidity
                                in Black Diamond Mine, when appropriate care is taken during
                                installation to establish line-of-site communication.</span>
                        </p>
                        <h3 class="problem_space" title="Click for more...">Problem space</h3>
                    <div class="fulldescription">
                        <p>
                            Working in an underground mine requires a number of skills beyond
                            software development. For example, everyone on the project was
                            required to undergo mine safety briefing. Parts of the mine suffer
                            from spalling, with occasional rock falls significant enough to
                            threaten safety.  Mote installation required using a number of
                            power tools to both fabricate mounts and attached the mounted
                            mote to mine walls.
                        </p>
                        <h3 class="technology">Technology</h3>
                        <div class="technology">
                        	
                        	<p>The Black Diamond Mines sensor network presented challenges on several 
                        		fronts. High technology included sensor mote hardware and software, and
                        		data collection.
                        		Low technology included getting the actual motes installed in the mine.
                        		In addition, Black Diamond Mines is a State of California Historical 
                        		Preserve. Access to the mine required coordinating with park staff. 
                        	</p>
                        	
                        	<p>Two different sensors were deployed in separate networks. One network
                        		was built using an early version of <a href="http://www.dustnetworks.com/">
                        		Dust Networks SmartMesh</a>, 
                        		the other network used motes purchased from <a href="http://www.xbow.com/index.html">
                        	    Crossbow Technology, Inc</a>.
                        	</p>
                        		
                            <p>
                                Building a sensor mote network in a mine required distributing motes on a line of
                                site network through the mine, because radio at GHz frequencies does not 
                                transmit through rock. The motes were attached to mount made from common 
                                building materials purchased at a building supply store, then manufactured
                                using a machine shop within the mine itself. After manufacturing, the mounts
                                were bolted into holes drilled in precise locations for relaying data packets
                                transmitted by each sensor.
                            </p>
                            
                            <p>
                            	As a result of monitoring over periods ranging from days to several weeks,
                            	we found the sensors were well capable of recording diurnal fluctuations in 
                            	temperature, humidity and barometric pressure within the mine tunnels.                     	
                            </p>
                            
                            
                        <h3 class="toolchain">Toolchain</h3>
                            <p class="buzzwords">
                                Nesc, C/C++, ARM, Wireless sensors, HTML, CSS, MySQL, PHP, Linux, 
                                Google Maps, Tablet computers, Cygwin
                            </p>
                        </div>
                    </div>
                </section>
