                <section id="hub-spoke-search">
                    <h2 class="msg_head">Peer-to-peer distributed search</h2>

                        <p class="abstract">
                            <strong>Summary:</strong>
                            <span class="who-benefited">Targeted search benefits users by
                                providing results more relevant to their query.</span>
                            <span class="why-important">Grouping content providers by
                                topic helps increase relevancy.</span>
                            <span class="what-results">In 2001, Infrasearch-based JXTA
                                technology returned search results
                                from a major news source database timestamped at 57 seconds
                                after database insertion.</span>
                        </p>
                        <h3 class="problem_space" title="Click for more..."><%= problem_title %></h3>
                        
                    <div class="fulldescription">
                        
                        <h3 class="technology">Technology</h3>
                        <div class="technology">
                        <h3 class="toolchain">Toolchain</h3>
                            <p class="buzzwords">
                                Win32, C/C++, Java, HTML, CSS, Linux, Apache, Tomcat, Jetty, Cygwin.
                            </p>
                        </div>
                    </div>
                </section>
