

<section id="vax">

  <h2 class="msg_head">Vax translation</h2>

     <p class="abstract">
        <strong>Summary:</strong>
           <span class="who-benefited">world.</span>
           <span class="why-important">volution.</span>
           <span class="what-results">the t.</span>
    </p>


  <h3 class="problem_space" title="Click for more..."><%= problem_title %></h3>

    <div class="fulldescription">
       <h3 class="technology">Technology</h3>
                        
          <div class="technology">
                        	
             <h3 class="toolchain">Toolchain</h3>
               <p class="buzzwords">
                    WordPress, PHP, MySQL
               </p>
         </div>
    </div>

</section>
