<section id="wildfire-sensors">

    <h2 class="msg_head">Wireless wildland fire sensor network</h2>
    <p class="abstract">
        <strong>Summary:</strong>
        <span class="who-benefited">Firefighting is one the highest risk activities in
            the modern world.</span>
        <span class="why-important">Getting information about environmental conditions
            occurring during wildland fires helps reduce risk by allowing more
            accurate prediction of fire evolution.</span>
        <span class="what-results">We found that wireless sensor technology is a viable
            means for monitoring wildland fires, and that minor changes (&plusmn;1&deg; C)
            in environmental conditions could be measured, and correlated to the physical 
            behavior of the flame front.</span>
    </p>

    <h3 class="problem_space" title="Click for more..."><%= problem_title %></h3>
    
    
    
    
    <div class="fulldescription">
        <h3 class="technology">Technology</h3>
        <div class="technology">

            <h3 class="toolchain">Toolchain</h3>
            <p class="buzzwords">
                Nesc, C/C++, ARM, Wireless sensors, HTML, CSS, MySQL, PHP, Linux,
                Google Maps, Tablet computers, Cygwin, GPS
            </p>
        </div>
    </div>
</section>
